body{
  background-color: rgb(104, 132, 132);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-margin{
  margin-top: 10px;
  width: 600px;
}
.add-btn{
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: end;
  padding-right: 10px;
}